.category-text {
    font-family: Sheepman;
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    color: rgb(223, 89, 64);
    margin-top: 30px;
}

.category-section {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.three-colum, .four-colum {
    display: grid;
    gap: 20px;
    width: 80%;
    height: 40vh;
    border-radius: 10px;
    overflow: hidden;
}

.three-colum {
    grid-template-columns: repeat(3, 1fr);
}

.four-colum {
    grid-template-columns: repeat(4, 1fr);
}

.three-colum img, .four-colum img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
