.category-text {
    font-family: Sheepman;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    color: rgb(223, 89, 64);
    margin-top: 30px;
}

.category-section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.three-column, .four-column {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-top: 20px;
}

.three-column {
    grid-template-columns: repeat(3, 1fr);
}

.four-column {
    grid-template-columns: repeat(4, 1fr);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
}
.image:hover img {
    transform: scale(1.5);
}

.women-section{
    margin-top: 40px;
}