.mens-text{
    font-family: Sheepman;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: rgb(223, 89, 64);
    margin-top: 20px;
}

.mens_sliding_image{
    border-top: 2.5px solid black;
}

.mens-products {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.three-column, .four-column {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-top: 20px;
}

.three-column {
    grid-template-columns: repeat(3, 1fr);
}

.four-column {
    grid-template-columns: repeat(4, 1fr);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
}
.image:hover img {
    transform: scale(1.5);
}

.mens-page{
    margin-top: 20px;
    border-top: 4px solid black;
    background-color: #E6E7E8;
    width: 100%;
    height: 10vh;
    text-align: center;
    color: black;
    font-family: Sheepman;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    width: 80%;
    height: 100%;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.products-images{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.products-images img {
    width: 100%;
    height: 50vh;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.8s ease-in-out;
}

.products-image2{
    opacity: 0;
    position: absolute;
}

.products-images:hover .products-image2{
    transform: scale(1.2);
    opacity: 1;
}
.products-images:hover .products-image1{
    transform: scale(1.2);
    opacity: 0;
}
.add-to-cart {
    position: absolute;
    top: 26%;
    right: 0%;
    transform: translateY(-50%);
    background-color: red;
    width: 18%;
    height: 22vh;
    border-radius: 10px;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background: white;
  }
  
  .products-images:hover .add-to-cart {
    transform: translateX(-20%) translateY(-50%);
    opacity: 1;
  }