.cart-upper-line{
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    border-top: 4px solid black;
    background-color: #e6e7e8;
}
.cart-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-family: Sheepman;
    gap: 50px;
}
.cart-products-section{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    
    text-align: center;
    font-style: italic;
}
.cart-products-section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-products-img{
    width: 25%;
    height: 18vh;
    overflow: hidden;
    margin-left: 10px;
}
.cart-products-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-products-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vh;
}
.cart-products-section h3{
    font-size: 20px;
    margin-left: 20px;
}
.cart-products-size{
    font-size: 15px;
    margin-left: 20px;
}
.cart-products-price{
    font-size: 15px;
    margin-left: 20px;
}
.cart-quanty-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.cart-quanty-section button{
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.cart-quanty-section button:hover{
    background-color: black;
    color: white;
}

.cart-payment-section{
    width: 30%;
    height: 30vh;
    background-color: #b8b9b9;
}
.cart-payment-section h2{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0;
    font-weight: 900;
}
.cart-payment-section-price{
    font-size: 20px;
    font-weight: 700;
}
.cart-payment-section-price span{
    color: rgb(223, 89, 64);
}
.cart-payment-section-payment-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}
.cart-payment-section-payment-options input, .cart-payment-section-payment-options label{
    cursor: pointer;
}
.cart-payment-section-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
}
.cart-payment-section-checkout button{
    background-color: #FCAB35;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 12px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;

}
.cart-payment-section-checkout button:hover{
    background-color: rgb(223, 89, 64);
}
.cart-payment-section-checkout button:focus{
    background-color: rgb(223, 89, 64);
}
