.product-page-upper-line {
    width: 100%;
    height: 6vh;
    margin-top: 10px;
    border-top: 4px solid black;
    background-color: #e6e7e8;
}

.product-page-maincontent {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: Sheepman;
    gap: 15px;
    margin-top: 10px;
    position: relative;
}

.product-page-image {
    display: flex;
    width: 100%;
    height: 50vh;
    gap: 10px;
}

.product-page-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.product-page-details {
    width: 100%;
    height: 40vh;
    border-top: solid #909396ad;
    border-bottom: solid #909396ad;
    border-width: 1.5vh;
}

.product-page-productname {
    width: 100%;
    font-style: bold;
    font-size: 30px;
    font-weight: 900;
    margin-top: 5px;
}

.product-page-price_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    font-size: large;
}

.product-page-price_rating span {
    color: rgb(223, 89, 64);
}

.product-page-sizes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    margin: 20px 0;

}

.product-page-sizes div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(238, 233, 233);
    margin-left: 20px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: medium;
}

.product-page-description {
    width: 100%;
    height: 10vh;
    background-color: #e9eceead;
    font-size: large;
    font-weight: 900;
}
.product-page-description span {
    font-size: medium;
    font-weight: 100;
}

.product-page-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.product-page-buttons button {
    background-color: #FCAB35;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.product-page-buttons button:hover {
    background-color: rgb(223, 89, 64);
}

.Size.selected {
    border: 1px solid red;
    font-weight: bold;
}